

$palette-map: (
  primary: (
    calix-blue: #0b38db,
    light-blue: #f3f9fc,
    medium-blue: #e0f0fa,
    dark-blue: #011670,
    calix-orange: #ff7600,
    dark-orange: #cb3f10,
    'white': #ffffff,
    'black': #000000,
  ),
  nuetral: (
    gray-1: #f3f3f3,
    gray-2: #bdc2d4,
    gray-3: #6e758c,
    gray-4: #262d4d,
  ),
  utility: (
    error-1: #df3226,
    warning-1: #fdb022,
    success-1: #027a48,
    placeholder:#667085
  ),
);

$white: #ffffff;
$black: #000000;
$calix-blue: #0b38db;
$light-blue: #f3f9fc;
$medium-blue: #e0f0fa;
$dark-blue: #011670;
$calix-orange: #ff7600;
$dark-orange: #cb3f10;
$gray-1: #f3f3f3;
$gray-2: #bdc2d4;
$gray-3: #6e758c;
$gray-4: #262d4d;
$error-1: #df3226;
$warning-1: #fdb022;
$success-1: #027a48;