@use "sass:math";

$em-base: 16;

@function strip-units($number) {
  @return math.div($number, ($number * 0 + 1));
}

@function rem($pxval) {
  @if not unitless($pxval) {
    $pxval: strip-units($pxval);
  }

  $base: $em-base;

  @if not unitless($base) {
    $base: strip-units($base);
  }

  @return (math.div($pxval, $base)) * 1rem;
}