<nav data-sly-use.accordion="com.adobe.cq.wcm.core.components.models.Accordion"
     data-panelcontainer="${wcmmode.edit && 'accordion'}"
     id="${accordion.id}"
     class="cmp-accordion"
     data-cmp-is="accordion"
     data-calix-cmp-is="navigation"
     aria-label="Site Navigation"
     data-cmp-single-expansion
     data-placeholder-text="${wcmmode.edit && 'Please drag Accordion item components here' @ i18n}">
    <div class="cmp-accordion__panel-background" aria-hidden="true"></div>
    <ul class="cmp-accordion__wrapper">
        <li data-sly-set.items="${accordion.children || accordion.items}"
             data-sly-test="${items.size > 0}"
             data-sly-repeat.item="${items}"
             class="cmp-accordion__item"
             data-cmp-hook-accordion="item"
             data-cmp-data-layer="${item.data.json}"
             id="${item.id}"
             data-cmp-expanded="${item.name in accordion.expandedItems}">
            <sly data-sly-resource="${item.resource @ decorationTagName='div'}"></sly>
        </li>
        <sly data-sly-resource="${resource.path @ resourceType='wcm/foundation/components/parsys/newpar', appendPath='/*', decorationTagName='div', cssClassName='new section aem-Grid-newComponent'}"
             data-sly-test="${(wcmmode.edit || wcmmode.preview) && items.size < 1}"></sly>
    </ul>
</nav>
