src/main/content/jcr_root/apps/aem-hybrid-calix/clientlibs/clientlib-site
src/main/content/jcr_root/apps/aem-hybrid-calix/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/aem-hybrid-calix/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/aem-hybrid-calix/clientlibs/clientlib-dependencies
src/main/content/jcr_root/apps/calix-redesign/clientlibs
src/main/content/jcr_root/apps/mycalix/clientlibs
src/main/content/jcr_root/apps/aem-hybrid-calix/clientlibs/clientlib-react/